html, body {
  margin: 0;
  padding: 0;
  
  height: 4000px;
}

* {
  box-sizing: border-box;
}

canvas {
  display: blight: position: absolute;
  z-index: 0;
}

h1 { 
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 100%;
  font-family: "gau";
  font-size: 80px;
  color: white;
  top: 300px;
  
}

img {
  position: relative;
  width: 80%;
  align: center;
  z-index: 5;
}

div {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

#navBar {
  font-family: "gau";
  width: 100%;
  padding: 10px;
  background-color: rgba(245,245,255,1);
  position: absolute;
  top:800px;
  display: block;
  z-index: 5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px white solid;
}

li {
  float: left;
}

li a {
  display: block;
  
  padding: 8px 20px;
}

#about { 
  position: relative;
  z-index: 1;
  text-align: center;
  width: 90%;
  align: center;
  font-family: "gau";
  font-size: 30px;
  color: rgb(100,100,100);
/*   top: 800px; */
  border-top: 1px white solid;
  margin: 5%;
  padding: 5% 7% 5% 7%;
  
/*   background-color: rgba(255,255,255,0.5); */
  border-bottom: 1px white solid;
}

#characters { 
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100%;
  font-family: "gau";
  font-size: 30px;
  color: rgb(100,100,100);
  padding: 0 10% 0 10%;
}

#content {
  position: absolute;
  background-color: rgba(245,245,255,1);
  height: 6000px;
  top: 800px;
  z-index: 1;
}

h5 {
  text-align: left;
/*   width: 50%; */
}

iframe {
  margin: 10%;
}

p { 
  position: relative;
  z-index: 1;
  text-align: left;
  width: 100%;
/*   font-family: 'PT Sans', sans-serif; */
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: rgb(100,100,100);
  
}

.profiles {
  text-align:left;
}
