canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

html,
body {
  margin: 0;
  padding: 0;
/*  height: 100%;*/
  background-color: rgb(252, 252, 250);
  display: flex;
  flex-direction: row; /* Desktop default */
}

/* -----------------------
   DESKTOP LAYOUT
----------------------- */

#menu {
  font-family: "Roboto Condensed", sans-serif;
  padding: 15px;
  width: 12em;
  border-right: 3px solid rgba(200, 200, 200, 0.05);
  overflow-y: auto;
}

/*.menu-item {
  display: flex;
  flex-direction: column;
  margin: 0px;
}*/

.subart {
  display: flex;        
  flex-direction: column;
  
}

.subart a {
  font-size: 16px;
  font-weight: 300;
  padding-left: 10px;
/*  margin: 4px 0;*/
}


#newBody {
  flex: 1;
  padding: 20px;
  position: relative;
  height: 200vh;
  background-color: rgba(200, 200, 200, 0.1);
}

#title {
  margin: 0;
  font-size: 45px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: grey;
  font-size: 20px;
  font-weight: 300;
  display: block;
/*  margin-bottom: 8px;*/
}

a:hover {
  color: #e64e2c;
  font-weight: 500;
}

#current,
#subcurrent,
.hovered {
  color: #e64e2c;
  font-weight: 500;
}

.subpage {
  font-size: 16px;
  font-weight: 200;
  padding-left: 10px;
}

/*#subart {
  margin: 2px;
  padding-left: 10px;
}*/

/* -----------------------
   MOBILE LAYOUT (iPhone)
----------------------- */

@media (max-width: 768px) {

  html,
  body {
    flex-direction: column; /* Stack menu on top */
  }

  #menu {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid rgba(200, 200, 200, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    overflow-x: auto; /* Horizontal scroll if needed */
/*    overflow-y: hidden;*/
    white-space: nowrap;
/*    height:7em;*/
  }

  #menu::-webkit-scrollbar {
    display: none; /* Cleaner iOS look */
  }

  a {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 0;
  }

/*  .menu-item {
    position:relative;
    flex-direction: column;
    margin: 0px;
    top:1.5em;
  }*/

  .subpage {
    font-size: 26px;
    padding-left: 0px;
    float:left;
  }

  #subart {
/*    padding-left: 0;
    width:250px;*/
/*    width: 100vw;*/
    position: absolute;
    left: 0vw;
    padding: 30px;
    top: 3em;
  }

  #title {
    font-size: 28px; /* Smaller title for phone */
  }

  #newBody {
    padding: 15px;
    height: auto;
/*    top:7em;*/
  }
}
