h1 {
/*  top: 0px;
  left: 0px;*/
  z-index: 999;
  color: #e64e2c;
  margin: 0;
  padding: 0;
  font-size: 120px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
}

h3 {
  bottom: 30px;
  left: 40px;
  z-index: 999;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

#menu {
  position: absolute;
  z-index: 999;
  top: 10px;
  left: 40px;
  font-size: 55px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
}

a {
  margin: 0;
  padding: 0;
  color: grey;
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  margin: 0;
  padding: 0;
  color: #e64e2c;
  font-weight: 500;
}

.hovered {
  color: #e64e2c;
  font-weight: 500;
}

a-scene {
    /* Forces 16:9 aspect ratio */
    aspect-ratio: 16 / 9;
    /* Optional: Ensure it stays centered */
    margin: auto;
    width: 100%;
  }
